<html>
<head>
    <title>Dashboard</title>
</head>
<body>
<form method="post">
    <ul>
        {{range .repos}}
            <li><input type="checkbox" {{if .Activated}}checked{{end}} name="{{.ID}}"> <label for="{{.ID}}">{{.Owner}}/{{.Name}}</label></li>
        {{end}}
    </ul>
    <input type="submit">
</form>
</body>
</html>